.divider{
    height: 40px;
    width: 2px;
    background-color: lightgrey;
}

nav{
    position: sticky;
    top: 0;
}

#search_box{
    width: auto;
    outline: none;
    border: none;
    background-color: transparent;
}

.search_bar{
    display: flex;
    width: 700px;
    height: 40px;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
}

#location{
    font-size: 13px;
    font-weight:500 !important;
}

.location_container{
    padding-top: 14px !important;
}

.btn-success{
    background-color: green !important;
    padding: 8px !important;
    padding-inline: 10px !important;
}

.category_display{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.cat_window{
    width: 81%;
    display: flex;
    overflow: scroll;
}
.cat_window>img{
    margin-right: 15px;
}

.category_container{
    width: 84%;
}
.category_product_list{
    width: 81%;
    overflow-x: scroll;
}

.cat_heading{
    width: 81%;
}

.product_card{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 179px;
    height: 300px;
    border: 0.5px solid rgb(232, 232, 232);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    padding: 8px;
}
.product_card>img{
    margin-inline: 10px;
}

.timer{
    font-size: 9px;
    font-weight: bold;
}

.name_wt{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}
.name_wt>weight{
    font-size: 13px;
}

.price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 14px;
}

.addbtn{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    color: green;
    outline: 1px solid green;
}

::-webkit-scrollbar{
    width: 0 !important;
}

.footer_cont{
    margin-top: 2cm;
    flex-direction: column;
}

.footer1, .footer2, .footer3{
    width: 81%;
}

.useful_links, .cate{
    font-weight: lighter;
}
.useful_links{
    padding-bottom: 50px;
}

.col-4{
    margin-bottom: 0px !important;
}

.cate>.col-4{
    margin-bottom: 2px !important;
}

.footer1>.h5{
    font-weight:bolder !important;
}

.fa-brands{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 40px !important;
    height: 40px !important;
    color: white !important;
    background-color: black !important;
    border-radius: 50% !important;
    font-size: 20px;
    margin-left: 20px;
}

.footer2>p{
    flex: 1;
    font-weight: light;
    font-size: 12px;
}

.footer2>div{
    flex: 1;
}